.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 100%;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #074e0f;
	background-color: #bdc6bf;
	border-radius: 8px;
	padding: 1.5rem;
	width: fit-content;
	width: 450px;
}

.content form {
	display: flex;
	align-items: center;
	justify-content: center;
	row-gap: 1rem;
	flex-direction: column;
}

.content form input {
	padding: 0.75rem 1.5rem;
	border-radius: 8px;
	border: 1px solid #ccc;
}

.errorName {
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: #ff0000;

}
.errorEmail{
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: #ff0000;
}
.content form button {
	width: 50%;
}
