.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 100%;
}

.modal-form form {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
}

.modal-form form div {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.modal-form form input {
	padding: 0.5rem;
	border-radius: 8px;
	border: 1px solid #ccc;
}
.successPopup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
}